.tabs-container {
    display: flex;
    width: 100%;
}

.tabs {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
}

.tab {
    padding: 5px 40px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    transition: background-color 0.8s;
    color: #69707A;
    border-bottom: 0px;
    text-align: left;
}

.tab.active {
    font-weight: bold;
    transition: background-color 0.8s;
    
    background-color: #F5F6F5;
    border: 1px solid #A7AEB8;

}

.tabs-content {
    flex-grow: 1;
    padding: 20px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}